<!DOCTYPE html>
<html ng-app="crudApp">

  <head>
    <base href="./../../"></base>
    <link rel="stylesheet" href="public/stylesheets/css/bootstrap.min.css">
    <style>
        .btn-like:hover{background-color:#99FFFF;cursor:pointer;}
        .tab {margin-left:130px;}
        #header {margin-left:80px;margin-bottom:20px;}
    </style>
  </head>

  <body ng-controller="navigationController">
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="public/controllers/controller.js"></script>

    <div id="header">
      <h1>Admin Dashboard</h1>
    </div>
    
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="tab"><a href="/userList">Users</a></li>
          <li class="tab"><a href="/postList">Posts</a></li>
          <li class="tab"><a href="/interestList">Interests</a></li>
          <li class="tab"><a href="/groupList">Groups</a></li>
        </ul>

      </div>
    </nav>

  <div id="main" ng-controller="userController">
  
    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>
  
  </div>

  </body>

</html>