<style>
    .btn-like:hover{background-color:#99FFFF;cursor:pointer;}
</style>
<div>
	<div>
		Sort by: 
        <select ng-model="sortExpression">
			<option value="ser">User</option>
			<option value="group">Group</option>
      <option value="datePost">Date Post</option>
      <option value="type">Type</option>
      <option value="shortDescription">Short Description</option>
		</select>
    </div>

    <table class="table table-bordered table-condensed table-responsive table-sm">
          <thead class="thead-inverse">
            <tr>
              <th>Username</th>
              <th>Group</th>
              <th>Date Post</th>
              <th>Type</th>
              <th>Short Description</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input placeholder="Search name" ng-model="search.username" />
              </td>
              <td>
                <input placeholder="Search group" ng-model="search.group" />
              </td>
              <td>
                <input placeholder="Search date post" ng-model="search.datePost" />
              </td>
               <td>
                <input placeholder="Search type" ng-model="search.type" />
              </td>
              <td>
                <input placeholder="Search short description" ng-model="search.shortDescription" />
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr ng-repeat="post in postList | orderBy:mySortFunction | filter:search">
              <td class="btn-like">{{post.username}}</td>
            	<td class="btn-like">{{post.group}}</td>
              <td class="btn-like">{{post.datePost}}</td>
              <td class="btn-like">{{post.type}}</td>
              <td class="btn-like">{{post.shortDescription}}</td>
              <td>
                <a ng-click='deletePost(post._id)'>
                  <strong style="margin-left:10px">(DELETE)</strong>
                </a>
            </td> 
            </tr>
          </tbody>
        </table>
</div>
