<head>
    <title>MyTorontoLife</title>
    <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:200,400,800' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-social.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
