{{#if logged}}
	<button type="button" class="btn">{{username}}</button>
	<button type="button" class="btn" onclick="logout()">Logout</button>

	<script type="text/javascript">
		function logout(){
			$.ajax({
				url: "/auth/logout",
				type: "GET",
				success: function(data){
					location.reload()
				}
			})
		}
	</script>
{{else}}	
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signin_popup">Login</button>
	<button type="button" class="btn" data-toggle="modal" data-target="#signup_popup">Register</button>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#signin_popup").appendTo("body") // Ensures modal shows up
			$("#signup_popup").appendTo("body")
		})

		function login(){
			var email = $("#login-email").val()
			var password = $("#login-password").val()

			if(!email){
				$("#login-error").html("Email required!")
				$("#login-error").show()
				return
			}else if(!password){
				$("#login-error").html("Password required!")
				$("#login-error").show()
				return
			}

			$.ajax({
				url: "/auth/local/login",
				type: "POST",
				contentType: "application/x-www-form-urlencoded",
				data: {'email': email, 'password': password},
				success: function(data){
					// Successful login
					location.reload()
				},
				error: function(data){
					$("#login-error").html(data.responseJSON.message)
					$("#login-error").show()
				}
			})
		}

		function signup(){
			var email = $("#signup-email").val()
			var username = $("#signup-username").val()
			var pass1 = $("#signup-password").val()
			var pass2 = $("#signup-password-conf").val()

			if(!email){
				$("#signup-error").html("Email required!")
				$("#signup-error").show()
				return
			}else if(!pass1){
				$("#signup-error").html("Password required!")
				$("#signup-error").show()
				return
			}else if(!username){
				$("#signup-error").html("Username required!")
				$("#signup-error").show()
				return
			}

			if(pass1 != pass2){
				$("#signup-error").html("Passwords do not match!")
				$("#signup-error").show()
				return
			}

			$.ajax({
				url: "/auth/local/signup",
				type: "POST",
				contentType: "application/x-www-form-urlencoded",
				data: {'email': email, 'password': pass1, 'username': username},
				success: function(data){
					// Successful login
					//location.reload()
					alert('haha');
					window.location.replace('/index.html');
					//res.redirect('.../public/index.html')

				},
				error: function(data){
					$("#signup-error").html(data.responseJSON.message)
					$("#signup-error").show()
				}
			})
		}

	</script>

	<div id="signin_popup" class="modal fade" role="dialog" aria-labelledby="signin-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p id="signin_title" class="modal-title">Sign In</p>
                </div>
                <div class="modal-body">
                    <div class="form-group" >
                        <div style="clear:both;">
                            <h4>Registered? Sign In:</h4><br/>
                        	<form>
                        		<p id="login-error" style="display: none; color: red">Error</p>
								<label>Email:</label><input id="login-email" type="text" class="form-control" placeholder="Email">
								<label>Password:</label><input id="login-password" type="password" class="form-control" placeholder="Password">
								<button type="button" class="btn btn-primary" onclick="login()">
									Signin
								</button>
                        	</form>
                        	<br/>
                        	<h4>or Sign In via Social Media:</h4>
                        	<br/>
                            <a href="/auth/github" class="btn btn-block btn-github btn-social">
                            <i class="fa fa-github"></i>Sign in with GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="signup_popup" class="modal fade" role="dialog" aria-labelledby="signin-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p id="signin_title" class="modal-title">Sign Up</p>
                </div>
                <div class="modal-body">
                    <div class="form-group" >
                        <div style="clear:both;">
                        	<form>
                        		<p id="signup-error" style="display: none; color: red">Error</p>
								<label>Email:</label><input id="signup-email" type="text" class="form-control" placeholder="Email">
								<label>Username:</label><input id="signup-username" type="text" class="form-control" placeholder="Username">
								<label>Password:</label><input id="signup-password"  type="password" class="form-control" placeholder="Password">
								<label>Confirm password:</label><input id="signup-password-conf" type="password" class="form-control" placeholder="Password">
								<button type="button" class="btn btn-primary" onclick="signup()">
									Signup
								</button>
                        	</form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{{/if}}