<style>
    .btn-like:hover{background-color:#99FFFF;cursor:pointer;}
    .tab {margin-left:100px;}
    #header {margin-left:30px;}
    #groupList {margin-left:300px;margin-right:30px;}
    .descr {width:380px;height:100px;resize:none;}
</style>
<nav id="topNav" class="feed">
    <h1>MyTorontoLife.ca</h1>
</nav>
<div id="groupList">
    <div id="header">
      <h1>Admin Dashboard</h1>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="tab" ng-style="tabIndex == 0 && {'background-color':'#CCFFFF'}"><a href="admin/users" >Users</a></li>
          <li class="tab" ng-style="tabIndex == 1 && {'background-color':'#CCFFFF'}"><a href="admin/posts" >Posts</a></li>
          <li class="tab" ng-style="tabIndex == 2 && {'background-color':'#CCFFFF'}"><a href="admin/interests" >Interests</a></li>
          <li class="tab" ng-style="tabIndex == 3 && {'background-color':'#CCFFFF'}"><a href="admin/groups" >Groups</a></li>
        </ul>

      </div>
    </nav>

  <div id="main" ng-controller="groupController">
       <div style="display:flex">
        Sort by:
          <select ng-model="sortExpression">
          <option value="name">Name</option>
          <option value="short_description">Short Description</option>
        </select>

        <div ng-show="showMsg" style="margin-left:20px">
        {{msg}}
      </div>
      </div>

      <table class="table table-bordered table-condensed table-responsive table-sm">
            <thead class="thead-inverse">
              <tr>
                <th>Group Name</th>
                <th>Description</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input placeholder="Search name" ng-model="search.name" />
                </td>
                <td>
                  <input placeholder="Search description" ng-model="search.short_description" />
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr ng-repeat="group in groupList | orderBy:mySortFunction | filter:search">
                <td>{{group.name}}</td>
                <td>{{group.short_description}}</td>
                <td class="btn-like">
                  <a ng-click='deleteGroup(group._id)'>
                    <strong style="margin-left:10px">(DELETE)</strong>
                  </a>
              </td>
              </tr>
            </tbody>
          </table>

          <form id="addGroup">
            Add a group:
            </br></br>
            <input type="text" placeholder="Enter group name" name="group" ng-model="group.name"></br></br>
            <select ng-model="group.privateType">
              <option value="true">True</option>
              <option value="false">False</option>
            </select></br></br>
            <textarea ng-model="group.short_description" name="description" placeholder="Description" class="descr" maxlength="500"></textarea></br></br>
            <input type="submit" value="submit" ng-click="submitGroup(group)">
         </form>
    </div>
</div>
