<style>
    .btn-like:hover{background-color:#99FFFF;cursor:pointer;}
    .tab {margin-left:100px;}
    #header {margin-left:30px;}
    #postList {margin-left:300px;margin-right:30px;}
</style>
<nav id="topNav" class="feed">
    <h1>MyTorontoLife.ca</h1>
</nav>
<div id="postList">
    <div id="header">
      <h1>Admin Dashboard</h1>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="tab" ng-style="tabIndex == 0 && {'background-color':'#CCFFFF'}"><a href="admin/users">Users</a></li>
          <li class="tab" ng-style="tabIndex == 1 && {'background-color':'#CCFFFF'}"><a href="admin/posts">Posts</a></li>
          <li class="tab" ng-style="tabIndex == 2 && {'background-color':'#CCFFFF'}"><a href="admin/interests">Interests</a></li>
          <li class="tab" ng-style="tabIndex == 3 && {'background-color':'#CCFFFF'}"><a href="admin/groups">Groups</a></li>
        </ul>

      </div>
    </nav>

  <div id="main" ng-controller="postController">

<div>
  <div style="display:flex">
    Sort by:

        <select ng-model="sortExpression">
      <option value="username">Username</option>
      <option value="group.name">Group name</option>
      <option value="date_posted">Date Post</option>
      <option value="post_type.name">Type</option>
      <option value="short_text">Short Description</option>
    </select>

    <div ng-show="showMsg" style="margin-left:20px">
        {{msg}}
      </div>
    </div>

    <table class="table table-bordered table-condensed table-responsive table-sm">
          <thead class="thead-inverse">
            <tr>
              <th>Username</th>
              <th>Group</th>
              <th>Date Post</th>
              <th>Type</th>
              <th>Short Description</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input placeholder="Search name" ng-model="search.username" />
              </td>
              <td>
                <input placeholder="Search group" ng-model="search.group.name" />
              </td>
              <td>
                <input placeholder="Search date post" ng-model="search.date_posted" />
              </td>
               <td>
                <input placeholder="Search type" ng-model="search.post_type.name" />
              </td>
              <td>
                <input placeholder="Search description" ng-model="search.short_text" />
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr ng-repeat="post in postList | orderBy:mySortFunction | filter:search">
              <td>{{post.username}}</td>
              <td>{{post.group.name}}</td>
              <td>{{post.date_posted}}</td>
              <td>{{post.post_type.name}}</td>
              <td>{{post.short_text}}</td>
              <td class="btn-like">
                <a ng-click='deletePost(post._id)'>
                  <strong style="margin-left:10px">(DELETE)</strong>
                </a>
            </td>
            </tr>
          </tbody>
        </table>

        <div ng-show="showMsg">
        {{msg}}
      </div>
</div>

  </div>
</div>
