<nav id="topNav">
    <h1>MyTorontoLife.ca</h1>
    <!-- <a>Neighbourhoods</a>
    <a>News</a>
    <a>Events</a>
    <a>Business Directory</a>
    <a>Homes</a> -->
</nav>
  {{#if 1}}
    <section class="hero">
    <div class="bg"></div>
    <div class="content">
        <h1>Your source for news, events, real estate info and lifestyle tips in Toronto</h1>
        <h2>To get started you can search for something, pick a neghbourhood or just scroll down</h2>
        <form>
            <input type="text" placeholder="Search for a Neighbourhood, Topic or Address">
        </form>
    </div>
    </section>
  {{/if}}
        <section class="feed">
        <div id="leftsidebar"class="quick-links left">
            <div>
                <h1>Resources</h1>
                <ul>
                    <li>Homes</li>

                    <li>Schools</li>

                    <li>Transit</li>

                    <li>Shopping</li>

                    <li>Homes</li>

                    <li>Recreation</li>
                </ul>
            </div>
            <br>
            <div>
                <h1>Neighbourhoods</h1>
                <ul>
                    <li>High Park</li>

                    <li>Bloor West Village</li>

                    <li>Rosedale</li>
                </ul>
            </div>

        </div>
        <div id="mainfeed" class="main-feed center">
            <!-- <div class="box"><div class="profile"><img style="background-color:#1097FF"><a href="#">My Toronto Life</a><span></span></div><h1>Welcome to MyTorontoLife.ca!</h1><p>We're your source for all kinds of news, events, lifestyle and culture tips</p><ul><li>Neighbourhood Amenities</li><li>Homes in the Kingsway</li><li>Read More</li></ul></div>
            <div class="box"><div class="profile"><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/1477973_10151747499705009_302603169_n.png?oh=c4114c49866cbfbbf8f427763e69eaa0&oe=55E54220"><a href="http://www.blogto.com">BlogTo</a><span>Today</span></div><a href="http://www.blogto.com/music/2015/04/record_store_day_in_toronto_2015/"><h1>Record Store Day in Toronto 2015</h1></a></div>
            <div class="box"><div class="profile"><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1779214_305568766258951_461738503_n.jpg?oh=1a4bfad90d34c13f12f05104a291046f&oe=55B0417C"><a href="http://www.lizannedobson.com">Lizanne Dobson</a><span>Yesterday</span></div><p>If modern interiors are your thing, you might not be able to choose your favorite, but give it a shot!</p><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xpf1/t31.0-8/11136306_476086515873841_1411649859448918598_o.jpg"><ul><li>Like</li><li>Comment</li><li>Share</li></ul></div>
            <div class="box"><div class="profile"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/378935_10152280445595181_155913981_n.jpg?oh=238a7c8a6b2eba48ecfa6404f5717897&oe=55E4172E&__gda__=1436432381_3e8cdfa942fb9415f7a0ab1c431b233d"><a href="http://www.toronto.com">Toronto.com</a><span>2 Hours ago</span></div><a href="http://www.toronto.com/things-to-do/articles/this-weekend-things-to-do-in-toronto/"><h1>This Weekend: Things to Do in Toronto</h1></a></div>
            <div class="box"><div class="profile"><img style="background-color:#1097FF"><a href="#">My Toronto Life</a><span></span></div><h1>Neighbourhood Spotlight: The Kingsway</h1><p><img src="http://www.eleganthomesinwesttoronto.com/userfiles/image/Welcome_to_the_Kingsway_sign.jpg">The neighbourhood is predominantly residential with a mixed-use (commercial and residential) area along Bloor and Dundas Streets. The majority of the housing stock is single-family detached homes. There are apartment and condominium buildings near the Old Mill subway station, as well as in mixed-use buildings along Bloor and Dundas Streets. A rail line runs through the north-west quadrant of the neighbourhood. Parkland lines the banks of the Humber River and Mimico Creek.</p><ul><li>Neighbourhood Amenities</li><li>Homes in the Kingsway</li><li>Read More</li></ul></div>
            <div class="box"><div class="profile"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xtf1/v/t1.0-9/971572_10151509622781175_1747471942_n.png?oh=0652648579446cc9e9060051426ff43e&oe=55D9E5E7&__gda__=1436126818_a79acb3d717ef1c695370785bf67d415"><a href="http://www.citynews.ca">City News</a><span>5 Days ago</span></div><a href="http://www.citynews.ca/2015/04/10/by-the-numbers-a-living-wage-in-toronto-in-2015/"><h1>By the numbers: A living wage in Toronto in 2015</h1></a></div>
            <div class="box"><div class="profile"><img src="https://scontent-ord.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/1477973_10151747499705009_302603169_n.png?oh=c4114c49866cbfbbf8f427763e69eaa0&oe=55E54220"><a href="http://www.blogto.com">BlogTo</a><span>Today</span></div><a href="http://www.blogto.com/eat_drink/2015/04/sale_of_wine_in_toronto_supermarkets_will_have_to_wait/"><h1>Sale of wine in Toronto supermarkets will have to wait</h1></a></div>
            <div class="box"><div class="profile"><img style="background-color:#1097FF"><a href="http://www.blogto.com">My Toronto Life</a><span>Today</span></div><h1>Get news and events tailored to your neighbourhood!</h1><p>By providing your location we can show you news, events and more going on right around you!</p><ul><li>Use My Location</li></ul></div> -->
            <div class="box loading"><h1>Loading 1</h1></div>
            <div class="box loading"><h1>Loading 2</h1></div>
            <div class="box loading"><h1>Loading 3</h1></div>
            <div class="box loading"><h1>Loading 4</h1></div>
            <div class="box loading"><h1>Loading 5</h1></div>

        </div>
        <div id="rightsidebar" class="actions right">
            <div class="box">
                <h1>Find a home in Toronto</h1>
                <img src="/images/map.png" height="150px" width="100%">
                <ul>
                    <li class="secondary">Featured Listings</li><li class="primary">Search MLS</li>
                </ul>
            </div>
            <div class="box">
                <h1>Free Home Evaluation</h1>
                <p>Provide your home address below for a free, instant home evaluation</p>
                <form>
                    <input>
                </form>
                <ul>
                    <li>Claim My Free Home Report</li>
                </ul>
            </div>
            <div class="box">
                <h1>Subscribe For Updates</h1>
                <p>Enter your email address below for timely updates with content we think you'll love </p>
                <form>
                    <input>
                </form>
                <ul>
                    <li>Subscribe</li>
                </ul>
            </div>
            <ul class="box footerlinks">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Email Policy</a></li>
                <li><a href="#">Data Attribution</a></li>
            </ul>

        </div>
    </section>
    <section>
      {{{ body }}}
    </section>
    <script type="text/javascript" src="/javascripts/script.js"></script>
