<nav id="topNav">
    <h1>MyTorontoLife.ca</h1>
    <!-- <a>Neighbourhoods</a>
    <a>News</a>
    <a>Events</a>
    <a>Business Directory</a>
    <a>Homes</a> -->
</nav>
  {{#if 1}}
    <section class="hero">
    <div class="bg"></div>
    <div class="content">
        <h1>Your source for news, events, real estate info and lifestyle tips in Toronto</h1>
        <h2>To get started you can search for something, pick a neghbourhood or just scroll down</h2>
        <form>
            <input type="text" placeholder="Search for a Neighbourhood, Topic or Address">
        </form>
    </div>
    </section>
  {{/if}}
        <section class="feed">

        <div id="leftsidebar"class="quick-links left">
          <div class="box">
            <h1>Chris Dobson</h1>
            <a>My Profile</a><br>
            <a>Admin Dashboard, if admin</a><br>
            <a>Log Out</a>

          </div>
            <div>
                <h1>Interests</h1>
                <ul>
                    <li>- List of user's Interests</li>
                    <li>- List of user's Interests</li>
                    <li>- List of user's Interests</li>
                </ul>
                <a>Customize my Interests</a>
            </div>
            <br>
            <div>
                <h1>Groups</h1>
                <ul>
                    <li>- List of groups a user is in</li>
                    <li>- List of groups a user is in</li>
                    <li>- List of groups a user is in</li>
                </ul>
                <a>show all public groups</a>
            </div>

        </div>
        <div id="mainfeed" class="main-feed center">
          <a name="feed"></a>
            <div class="box">
              <div class="rating">
              <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </div>
              <div class="profile">
                <img src="https://www.gravatar.com/avatar/89e0e971f58af7f776b880d41e2dde43?size=50">
                <a href="/users/chris">Chris Dobson</a><br>
                <span class="permalinks"><a>Yesterday</a> - Tags &amp; Interests</span>
              </div>
              <p>This is my post about stuff!</p>
              <div class="ratings"></div>
              <p></p>
              <ul><li>Comment</li><li>Share</li></ul>
            </div>
            <div class="box loading"><h1>Loading 2</h1></div>
            <div class="box loading"><h1>Loading 3</h1></div>
            <div class="box loading"><h1>Loading 4</h1></div>
            <div class="box loading"><h1>Loading 5</h1></div>

        </div>
        <div id="rightsidebar" class="actions right">
          {{#if group}}
          <div class="box">
              <h1>Group: {{group.name}}</h1>
              <ul>
                <li>List of members</li>
              </ul>
              <a>Add a user to this group</a>
          </div>
          {{/if}}
          {{#if tag}}
          <div class="box">
              <h1>Showing Results for: {{tag}}</h1>
          </div>
          {{/if}}
            <div class="box">
                <h1>Create a post</h1>
                <ul>
                  <li>New Announcement</li>
                  <li>New question</li>
                </ul>
            </div>

            <ul class="box footerlinks">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Email Policy</a></li>
                <li><a href="#">Data Attribution</a></li>
            </ul>

        </div>
    </section>
    <section>
      {{{ body }}}
    </section>
    <script type="text/javascript" src="/javascripts/script.js"></script>
