<!--<div id="loginbar" ng-include="'angular_partials/loginbar.html'"></div>-->
<link rel="stylesheet" href="/stylesheets/login.css" charset="utf-8">
<div id="login-container" class="container" ng-controller="loginController">
	<div class="row">
		<div id="title-holder" class="col-md-12">
			<h1>MyTorontoLife</h1>
		</div>
	</div>
	<div class="row">
		<div id="login-holder" class="col-md-3 col-md-offset-3">
			<h2 class="white">Login</h2>
			<form>
				<p id="login-error" style="color: red" ng-show="loginError">{{login_error_msg}}</p>
				<label class="white">Email:</label><input id="login-email" type="text" class="form-control" placeholder="Email">
				<label class="white">Password:</label><input id="login-password" type="password" class="form-control" placeholder="Password">
				<button type="button" class="btn btn-primary" ng-click="login()">
					Signin
				</button>
			</form>
			<br/>
			<h4>or Sign In via Social Media:</h4>
			<br/>
			<a href="/auth/github" ng-click="github_signin()" class="btn btn-block btn-github btn-social">
			<i class="fa fa-github"></i>Sign in with GitHub</a>
		</div>
		<div id="register-holder" class="col-md-3">
			<h2 class="white">Register</h2>
			<form>
				<p id="signup-error" style="color: red" ng-show="registerError">{{register_error_msg}}</p>
				<label class="white">Email:</label><input id="signup-email" type="text" class="form-control" placeholder="Email">
				<label class="white">Username:</label><input id="signup-username" type="text" class="form-control" placeholder="Username">
				<label class="white">Password:</label><input id="signup-password"  type="password" class="form-control" placeholder="Password">
				<label class="white">Confirm password:</label><input id="signup-password-conf" type="password" class="form-control" placeholder="Password">
				<button type="button" class="btn btn-primary" ng-click="signup()">
					Signup
				</button>
			</form>
		</div>
	</div>
</div>
