<style>
div.inset{
  display: block;
  max-height: 300px;
  -moz-box-shadow:    1px 1px 8px #eee inset;
  -webkit-box-shadow: 1px 1px 8px #eee inset;
  box-shadow:         1px 1px 8px #eee inset;
  padding: 1em;
  overflow-y: auto;
  border-radius: 3px;
  /* Chrome, Safari, Opera prefix */
  -webkit-column-width: 250px;

  /* Mozilla Firefox prefix */
  -moz-column-width: 250px;

  column-width: 250px;
}
</style>
<div ng-controller="newPostController">
      <div style="position: absolute; left: 30%; right: 10%;">
      <!-- post body -->
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group" id="post_edit" name="post_edit">
            <!-- post type -->
            <div class="form-group">
              <label for="postTypeArraySel">Type:</label>
                <select ng-model="post.post_type" id="postTypeArraySel" ng-options="type.name for type in postTypes">
                <!--    <option value="">[select type] </option> -->
              </select>
              <!--  <label for="postTypeResult"> Selected type:</label>
              <textarea id="postTypeResult">{{postTypeValue | json}}</textarea>
              -->
            </div>
            <!-- group  -->
            <div class="form-group">
              <label for="postGroupArraySel">Group:</label>
              <select ng-model="post.group" id="postGroupArraySel" ng-options="group.name for group in Groups">
              </select>

            </div>
            <!-- interest  -->
            <label for="postGroupArraySel">Interests:</label>
            <div class="form-group inset">
              <!-- <label for="postInterestArraySel">Interest:</label>
              <select ng-model="postInterestValue" mgid="postInterestArraySel" ng-options="getInterest(interest) for interest in Interests">
              </select> -->

              <label ng-repeat="interest in Interests" style="display: block">
                <input type="radio" ng-model="post.interest" ng-value="interest"> {{interest.name}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea id="description" name="description" ng-model="post.text" class="form-control" placeholder="Post Content" rows="10"></textarea>

          </div>
          <label for="postGroupArraySel">Tags:</label>
          <div class="form-group inset">
            <a ng-repeat="tag in post.hashtags" style="margin:.3em" href="/tags/{{tag}}">
              #{{tag}}
            </a>
          </div>
          <br>
          <div>
            <button class="btn  btn-primary btn-group-xs" ng-disabled="post.text=='' || post.post_type == null || post.group == null" ng-click="submitPost()">Post</button>
          </div>
          <ul>
            <li ng-if="post.post_type == null">Post type is required</li>
            <li ng-if="post.group == null">Group is required</li>
            <li ng-if="post.interest == null">An interest are required</li>
            <li ng-if="post.text == ''">Please provide some text for your post</li>
          </ul>
        </div>
      </form>
      <br>
      <br>
    </div>
</div>
