<style>
div.inset{
  display: block;
  max-height: 300px;
  -moz-box-shadow:    1px 1px 8px #eee inset;
  -webkit-box-shadow: 1px 1px 8px #eee inset;
  box-shadow:         1px 1px 8px #eee inset;
  padding: 1em;
  overflow-y: auto;
  border-radius: 3px;
  /* Chrome, Safari, Opera prefix */
  -webkit-column-width: 250px;

  /* Mozilla Firefox prefix */
  -moz-column-width: 250px;

  column-width: 250px;
}
</style>
<div ng-controller="newPostController">
      <div style="position: absolute; left: 30%; right: 10%;">
      <!-- post body -->
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group" id="post_edit" name="post_edit">
            <!-- post type -->
            <div class="form-group">
              <label for="postTypeArraySel">Type:</label>
                <select ng-model="postTypeValue" id="postTypeArraySel" ng-options="type.name for type in postTypes">
                <!--    <option value="">[select type] </option> -->
              </select>
              <!--  <label for="postTypeResult"> Selected type:</label>
              <textarea id="postTypeResult">{{postTypeValue | json}}</textarea>
              -->
            </div>
            <!-- group  -->
            <div class="form-group">
              <label for="postGroupArraySel">Group:</label>
              <select ng-model="postGroupValue" id="postGroupArraySel" ng-options="getGroup(group) for group in Groups">
              </select>

            </div>
            <!-- interest  -->
            <label for="postGroupArraySel">Interests:</label>
            <div class="form-group inset">
              <!-- <label for="postInterestArraySel">Interest:</label>
              <select ng-model="postInterestValue" mgid="postInterestArraySel" ng-options="getInterest(interest) for interest in Interests">
              </select> -->

              <label ng-repeat="interest in Interests" style="display: block">
                <input type="checkbox" checklist-model="post.Interests" checklist-value="interest.id"> {{interest.name}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea id="description" name="description" ng-model="post.text" class="form-control" placeholder="Description" rows="10"></textarea>

          </div>
          <br>
          <div>
            <button class="btn  btn-primary btn-group-xs" ng-disabled="post.text==''" ng-click="savePost()">Post</button>
          </div>
        </div>
      </form>
      <br>
      <br>


    </div>
</div>
