
<div ng-controller="newPostController">
      <div class="container">
      <!-- post body -->
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group" id="post_edit" name="post_edit">
            <!-- post type -->
            <div class="form-group">
              <label for="postTypeArraySel">Type:</label>
              <select ng-model="postTypeValue" id="postTypeArraySel" ng-disabled="{{!state.user_is_author}}" ng-options="getpostType(type) for type in postTypes">
                <!--    <option value="">[select type] </option> -->
              </select>
              <!--  <label for="postTypeResult"> Selected type:</label>
              <textarea id="postTypeResult">{{postTypeValue | json}}</textarea>
              -->
            </div>
            <!-- group  -->
            <div class="form-group">
              <label for="postGroupArraySel">Group:</label>
              <select ng-model="postGroupValue" id="postGroupArraySel" ng-disabled="{{!state.user_is_author}}" ng-options="getGroup(group) for group in Groups">
              </select>

            </div>
            <!-- interest  -->
            <div class="form-group">
              <label for="postInterestArraySel">Interest:</label>
              <select ng-model="postInterestValue" mgid="postInterestArraySel" ng-disabled="{{!state.user_is_author}}" ng-options="getInterest(interest) for interest in Interests">
              </select>
            </div>
          </div>
          <div class="row">
            <p>Rated:<span>{{post.averagerating}}</span> of 5</p>
            <br>
            <p><span>{{post.numberofratings}}</span> Ratings</p>

          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea id="description" name="description" ng-model="post.text" class="form-control" placeholder="description" ng-readonly="{{!state.user_is_author || !state.edit_state}}" rows="10"></textarea>

          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Commercial</label>
          </div>
          <br>
          <div>
            <button ng-show="{{state.user_is_author && state.edit_state || state.add_new}}" class="btn  btn-primary btn-group-xs" ng-click="updatePost()">Save</button>
            <button ng-show="{{state.user_is_author && state.edit_state && !state.add_new}}" class="btn  btn-primary btn-group-xs" ng-click="deletePost()">Delete</button>
          </div>
        </div>
      </form>
      <br>
      <br>
      <div class="container" ng-if="!state.user_is_author && !state.add_new">
        <form class="form-inline">

          <div class="form-group">
            <label for="postRateArraySel">Rate this Post:</label>
            <select class="form-control" ng-model="postRateValue" id="postRateArraySel" ng-disabled="{{state.user_is_author}}" ng-options="getRating(rate) for rate in Rates">
            </select>
          </div>
          <div>
            <button class="btn  btn-primary btn-group-xs" ng-click="updateRating()">Rate</button>
          </div>

        </form>
      </div>
      <br>

      <div class="container" ng-if="!state.add_new">
        <div class="box" ng-repeat-start="comment in post.comments">
          <div class="profile">
            <img src="user_imageurl" />
            <a href="" ng-click="userProfile(comment.userid)">{{comment.username}}</a>
            <p>&nbsp;On:&nbsp;{{comment.date}}</p>
            <br>
          </div>
        </div>

        <p ng-repeat-end>{{comment.text }}</p>
      </div>

      <div class="container" ng-if="!state.user_is_author && !state.add_new">
        <form class="form-inline">
          <div class="form-group">
            <label>Comment:</label>
            <textarea id="comment" name="comment" ng-model="post.new_comment" class="form-control" placeholder="comment"></textarea>
            <button class="btn  btn-primary btn-group-xs" ng-click="saveComment()">Save</button>
          </div>
        </form>
      </div>
    </div>
</div>
